In [2]:
import yfinance as yf

In [3]:
msft = yf.Ticker("MSFT")

In [4]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a strategic collaboration with DXC Technology. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 244.49,
 'regularMarketOpen': 243.9332,
 'twoHundredDayAverage': 216.58533,
 'trailingAnnualDividendYield': 0.008752914,
 'payoutRatio': 0.31149998,
 'volume24Hr': None,
 'regularMarketDayHigh': 245.29,
 'navPrice': None,
 'averageDailyVolume10Day': 21346962,
 'totalAssets': None,
 'regularMarketPreviousClose': 244.49,
 'fiftyDayAverage': 228.35303,
 'trailingAnnualDividendRate': 2.14,
 'open': 243.9332,
 'toCurrency': None,
 'averageVolume10days': 21346962,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1613520000,
 'beta': 0.816969,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 242.74,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 36.52751,
 'regularMarketVolume': 16561079,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1847768514560,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 28143637,
 'priceToSalesTrailing12Months': 12.054543,
 'dayLow': 242.74,
 'ask': 245.3,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 16561079,
 'fiftyTwoWeekHigh': 245.92,
 'forwardPE': 30.283066,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.71,
 'fiftyTwoWeekLow': 132.52,
 'bid': 245.26,
 'tradeable': False,
 'dividendYield': 0.0091,
 'bidSize': 1000,
 'dayHigh': 245.29,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.734,
 'beta3Year': None,
 'profitMargins': 0.33473998,
 'enterpriseToEbitda': 25.089,
 '52WeekChange': 0.30849767,
 'morningStarRiskRating': None,
 'forwardEps': 8.09,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7560500224,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 17.259,
 'sharesShort': 44533174,
 'sharesPercentSharesOut': 0.0058999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.71844,
 'netIncomeToCommon': 51309998080,
 'trailingEps': 6.707,
 'lastDividendValue': 0.56,
 'SandP52WeekChange': 0.1675049,
 'priceToBook': 14.194913,
 'heldPercentInsiders': 0.00059,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1609372800,
 'shortRatio': 1.39,
 'sharesShortPreviousMonthDate': 1609372800,
 'floatShares': 7431722306,
 'enterpriseValue': 1798560415744,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1605657600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.327,
 'dateShortInterest': 1611878400,
 'pegRatio': 1.82,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0058999998,
 'sharesShortPriorMonth': 39201229,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 243.9332,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [9]:
msft.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-13,214.020004,216.759995,213.929993,216.339996,20087100,0,0
2021-01-14,215.910004,217.460007,212.740005,213.020004,29480800,0,0
2021-01-15,213.520004,214.509995,212.029999,212.649994,31691500,0,0
2021-01-19,213.750000,216.979996,212.630005,216.440002,30480900,0,0
2021-01-20,217.699997,225.789993,217.289993,224.339996,37777300,0,0
2021-01-21,224.699997,226.300003,222.419998,224.970001,30749600,0,0
2021-01-22,227.080002,230.070007,225.800003,225.949997,30124900,0,0
2021-01-25,229.119995,229.779999,224.220001,229.529999,33152100,0,0
2021-01-26,231.860001,234.179993,230.080002,232.330002,49169600,0,0
2021-01-27,238.000000,240.440002,230.139999,232.899994,69870600,0,0
2021-01-28,235.610001,242.639999,235.089996,238.929993,49111200,0,0
2021-01-29,235.990005,238.020004,231.350006,231.960007,42468900,0,0
2021-02-01,235.059998,242.500000,232.429993,239.649994,33314200,0,0
2021-02-02,241.300003,242.309998,238.690002,239.509995,25916300,0,0
2021-02-03,239.570007,245.089996,239.259995,243.000000,27158100,0,0
2021-02-04,242.660004,243.240005,240.369995,242.009995,25296100,0,0
2021-02-05,242.229996,243.279999,240.419998,242.199997,18043900,0,0
2021-02-08,243.149994,243.679993,240.809998,242.470001,22211900,0,0
2021-02-09,241.869995,244.759995,241.380005,243.770004,23565000,0,0
2021-02-10,245.000000,245.919998,240.889999,242.820007,22186700,0,0
2021-02-11,244.779999,245.149994,242.149994,244.490005,15742200,0,0
2021-02-12,243.929993,245.300003,242.729996,244.990005,16552000,0,0

In [15]:
data

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-02-12  134.350006  135.529999  133.690002  135.369995  135.369995
2021-02-12  134.350006  135.509995  133.692093  135.369995  135.369995

                             SPY                                      \
              Volume        Open        High         Low       Close
Date
2021-02-12  60029300  389.850006  392.899994  389.769989  392.640015
2021-02-12  60145130  389.850006  392.899994  389.769989  392.640015

                                        MSFT                          \
             Adj Close    Volume        Open        High         Low
Date
2021-02-12  392.640015  50505700  243.929993  245.300003  242.729996
2021-02-12  392.640015  50615087  243.933197  245.289993  242.740005


                 Close   Adj Close    Volume
Date
2021-02-12  244.990005  244.990005  16552000
2021-02-12  244.990005  244.990005  16561079

In [16]:
data['MSFT']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-12,243.929993,245.300003,242.729996,244.990005,244.990005,16552000
2021-02-12,243.933197,245.289993,242.740005,244.990005,244.990005,16561079

In [39]:
btc = yf.Ticker("BTC-USD"); btch = btc.history(period="1d"); btch

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-13,47900.109375,47980.183594,46392.28125,46806.8125,68917870592,0,0

In [3]:
btc = yf.Ticker("BTC-USD"); btch = btc.history(period="1d"); btch

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-13,47900.109375,47980.183594,46392.28125,47195.011719,69654454272,0,0

In [12]:
cl = btch['Close']; cl

Date
2021-02-13    47195.011719
Name: Close, dtype: float64

In [13]:
type(cl)

pandas.core.series.Series

In [16]:
cl[0]

47195.01171875

In [23]:
btc = yf.Ticker("BTC-USD")

In [24]:
btc.history(period="1d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-13,47900.109375,47980.183594,46392.28125,46959.695312,68480430080,0,0

In [37]:
data = yf.download(
        tickers = "BTC-USD MSFT ",
        period = "1d",
        group_by = 'ticker',
        #auto_adjust = True,
        prepost = True,
        threads = False,
)

[*********************100%***********************]  2 of 2 completed

In [38]:
data

                  MSFT                                                  \
                  Open        High         Low       Close   Adj Close
Date
2021-02-12  243.933197  245.289993  242.740005  244.990005  244.990005

                     BTC-USD
              Volume    Open High Low Close Adj Close Volume
Date
2021-02-12  16561079     NaN  NaN NaN   NaN       NaN    NaN

In [18]:
import datetime

In [33]:
datetime.datetime.utcnow().replace(
        tzinfo=datetime.timezone.utc).isoformat()

'2021-02-13T23:06:49.921532+00:00'

In [22]:
ts = datetime.datetime.utcnow().replace(
        tzinfo=datetime.timezone.utc)

In [29]:
ts.strftime("%Y%m%d")

'20210213'

In [32]:
datetime.datetime.utcnow().replace(
        tzinfo=datetime.timezone.utc).isoformat()

'2021-02-13T23:06:47.692760+00:00'

In [35]:
datetime.datetime.now().isoformat()

'2021-02-14T00:19:52.779792'

In [39]:
f'{"a": 1}'

ValueError: Sign not allowed in string format specifier

In [40]:
import json

In [46]:
json.dumps({"a": 1, "abc": 'blah2'})

'{"a": 1, "abc": "blah2"}'

In [52]:
json.loads('{"a": 1, "abc": "blah2"},{"a": 1, "abc": "blah2"}')

JSONDecodeError: Extra data: line 1 column 25 (char 24)

In [58]:
import time

In [60]:
time.sleep(1)

In [64]:
ret = 1.2678; f"{ret:.2f}"

'1.27'